#crea{
    background-color: orange;
    position: relative;
    padding: 0;
}

#crea .animated-title{
    width: 100vw;
    left: 10%;
    text-align: center;

    & > div > div{
        width: fit-content;
        padding: 2.5vmin 8vmin;
    }
    & span{
        width: 100%;
        display: block;
        font-size: 1.35rem;
    }
}

#crea .animated-title > div.text-top div{
    animation-range: 120vh 155vh;
}

.descr{
    margin-left: 0;
    left: 0;
}

.crea-img{
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70%;
    gap: 3%;
    position: absolute;
    bottom: 2vh;

    & img{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 20vh;
        scale: .75;
        opacity: 1;
        animation: zoomIn linear forwards;
        animation-timeline: scroll(root);
        animation-range: 140vh 194vh;
    }
}

@media screen and (min-width: 1280px) {

    #crea .animated-title{
        left: 10%;
        top: 5%;
        & > div > div{
            width: fit-content;
            padding: 2.5vmin 6vmin;
        }
        & span{
            width: 100%;
            display: block;
            font-size: 3.5rem;
        }
    }

    #crea .descr{
        top: 22%;

        & p{
            padding: 0 40vw 0 10%;
        }
    }

    .crea-img{
        flex-flow: wrap row;
        gap: 8%;

        & img{
            height: 30vh;
        }
    }

}

@media screen and (min-width: 1800px) {

}