#game{
    background-color: #852abc;
    position: relative;
    padding: 0;
    overflow: hidden;
}

#game div img{
    width: 25px;
    opacity: .22;
    user-select: none;
    cursor: default;
    padding: 10px;
    pointer-events: none;
}

#game .row{
    transform: rotate(30deg);
    top: 2.5%;
}

#game .animated-title > div.text-top div{
    animation-range: 120vh 155vh;
}

#game > img{ 
    width: 80%;
    left: 10%;
    bottom: 15%;
    position: absolute;
    scale: .75;
    opacity: 1;
    margin: 0;
    animation: zoomIn linear forwards;
    animation-timeline: scroll(root);
    animation-range: 155vh 185vh;
}