@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

@keyframes fadeOut {
    to {opacity: 0;}
}

@keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes text-clip2 {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  

@keyframes outer-left {
    from {
      transform: translateY(5vh);
    }
    to {
      transform: none;
    }
  }
  
  @keyframes inner-left {
    from {
      transform: translateY(-5vh);
    }
    to {
      transform: none;
    }
  }

  @keyframes gradient {
    0%{
      background-color: #D32E4C;
    }

    33%{
      background-color: #312ed3;
    }

    66%{
      background-color: #852abc;
    }

    100%{
      background-color: #D32E4C;
    }
  }

  .alex{
  animation: inner-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.basei{
    animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both, text-clip2 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

section{
    height: 100vh;
    padding-left: 10vw;
    margin: 0;
    background-image: linear-gradient(to right bottom, transparent 0%, #813A32 100%);
    font-family: Arial, sans-serif;
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: center;
}

#name{
  animation: gradient 15s ease infinite;
}

section h1{

    animation: fadeOut linear forwards;
    animation-timeline: view();
    animation-range: exit -100px;
    font-size: 3rem;
    font-weight: 1000;
    font-family: "Poppins";
    color: rgba(255, 255, 255, .85);
    margin: 0;
    height: fit-content;
}

.roller{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  margin: 5% 0 0 -16%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #1D3557;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite 3s, fade 4s ease;  
  color: rgba(255, 255, 255, .85);
  opacity: 1;
  font-size: 2rem;
  font-weight: 650;
}

@keyframes fade {
0%{
  opacity: 0;
}
50%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: 0;    
  }
  50%{
    top: -4rem;
  }
  75%{
    top: -4rem;
  }
}