.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.descr{
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 10%;
}

.descr > p{
  top: 10%;
  color: rgba(255, 255, 255, .85);
  text-shadow: 1px 1px 6px #454545;
  padding: 0 10%;
}

.descr > button{
  margin: 5% 0 0 10%;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  box-shadow: 1px 1px 15px #454545;
  transition: scale 0.3s ease;
}

.descr > button:hover{
  scale: 1.05;
}